* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu;
}
body {
}

nav {
  /* background-color: rgba(255, 255, 255, 0.521); */
  backdrop-filter: blur(5px);

  /* background-color: #fdf2e9; */
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  /* flex-direction: column; */
  /* background-color: aliceblue; */
  padding: 0 100px;
}

.logo {
  width: 80px;
  cursor: pointer;
}

.nav-btn {
  font-size: 20px;
  display: flex;
  gap: 50px;
}

.login {
  color: #111;
  font-size: 20px;
  /* font-weight: 500; */
  text-decoration: none;
  padding: 12px 0;
}

.signUp {
  font-size: 20px;
  background-color: #fff;
  color: #e67e22;
  /* font-weight: 500; */
  text-decoration: none;
  padding: 8px 16px;
  /* background-color: #ed6a5e; */
  /* background-color: #e67e22; */
  border: 1px solid #ed6a5e;
  cursor: pointer;
  border-radius: 8px;
}
.login:hover {
  color: #e67e22;
}

.signUp:hover {
  background-color: #e67e22;

  color: #fff;
}

.hero {
  /* background-color: #fdf2e9; */
  height: 50vh;
  display: flex;
  gap: 100px;
  /* align-items: center; */
  padding-left: 100px;
}
.hero-content {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}
.hero-h1 {
  font-size: 64px;
}

.hero-img {
  /* margin-left: 100px; */
  margin-right: 50px;
  margin-top: 10vh;
  /* width: 458.13px; */
  height: 568.8px;
}

.hero-p {
  color: #6b7d7d;
}

.btn {
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
  background-color: #e67e22;
  color: #fff;
  border-radius: 8px;
  border: none;
  text-decoration: none;
}

.btn:hover {
  background-color: #cf711f;
}

svg {
  position: absolute;
  z-index: -1;
}

.blob {
  position: absolute;
  right: 50px;
  width: 700px;
}

.features {
  margin-top: 300px;
  height: 50vh;
  background-color: #fdf2e9;
}
