* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu;
  /* overflow-y: hidden; */
}

p {
  color: #6b7d7d;
  line-height: 1.7;
}
body {
}

nav {
  /* backdrop-filter: blur(5px); */
  background-color: #fff;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 100px;
  z-index: 999999;
  /* color: transparent;
  background-color: 0 0 5px rgba(0, 0, 0, 0.5); */

  /* background-color: #000; */
  /* opacity: 0.1; */
  /* background-image: blur(5px); */
  /* filter: blur(1px); */
  /* -webkit-filter: blur(5px); */
  /* filter: blur(5px); */
}

.logo {
  width: 80px;
  cursor: pointer;
}

.nav-btn {
  font-size: 20px;
  display: flex;
  gap: 50px;
}

.login {
  color: #111;
  font-size: 20px;
  /* font-weight: 500; */
  text-decoration: none;
  padding: 12px 0;
}

.signUp {
  font-size: 20px;
  background-color: #fff;
  color: #e67e22;
  /* font-weight: 500; */
  text-decoration: none;
  padding: 8px 16px;
  /* background-color: #ed6a5e; */
  /* background-color: #e67e22; */
  border: 1px solid #ed6a5e;
  cursor: pointer;
  border-radius: 8px;
}
.login:hover {
  color: #e67e22;
}

.signUp:hover {
  background-color: #e67e22;

  color: #fff;
}

.hero {
  /* background-color: #fdf2e9; */
  height: 60vh;
  display: flex;
  gap: 100px;
  /* align-items: center; */
  padding-left: 100px;
}
.hero-content {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}
.hero-h1 {
  font-size: 64px;
}

.hero-img {
  /* margin-left: 100px; */
  margin-right: 50px;
  margin-top: 10vh;
  /* width: 458.13px; */
  height: 568.8px;
}

.hero-p {
  color: #6b7d7d;
}

.btn {
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
  background-color: #e67e22;
  color: #fff;
  border-radius: 8px;
  border: none;
  text-decoration: none;
}

.btn:hover {
  background-color: #cf711f;
}

svg {
  position: absolute;
  z-index: -1;
}

.blob {
  position: absolute;
  right: 50px;
  width: 700px;
}

.features {
  margin-top: 300px;
  height: 70vh;
  background-color: #fdf2e9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 100px;
  /* justify-content: space-between; */

  /* background-color: antiquewhite; */
}
.features-1 {
  margin-top: 300px;
  height: 70vh;
  background-color: #fff;
  display: flex;
  /* gap: 200px; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  /* justify-content: space-between; */

  /* background-color: antiquewhite; */
}

.back {
  position: relative;
  margin-top: -100px;
  margin-left: -200px;
  z-index: 1;
}

.svg-back {
  display: flex;
  position: absolute;
  margin-left: -50px;
  /* background-color: #111; */
  /* justify-self: left; */
  width: 60vw;
  height: 40vh;
}
.svg-back-1 {
  display: flex;
  position: absolute;
  margin-right: -50px;
  /* margin-bottom: 500px; */
  /* background-color: #111; */
  /* justify-self: left; */
  width: 60vw;
  height: 40vh;
}

.temp {
  /* background-color: #cf711f; */
  width: 50vw;
  height: 50vh;
  z-index: 100;
}
.temp-1 {
  /* background-color: #cf711f; */
  width: 50vw;
  height: 50vh;
  z-index: 100;
}

.back {
  width: 140vw;
  height: 85vh;
}

.img-1 {
  width: 500px;
  z-index: 100;
}
.img-2 {
  /* margin-right: -300px; */
  width: 500px;
  z-index: 100;
}

.features-content {
  display: flex;
  padding-left: 100px;
  align-items: center;
  /* gap: 10px; */
  flex-direction: column;
}
.features-content-1 {
  display: flex;
  /* padding-left: 100px; */
  align-items: center;
  /* gap: 10px; */
  flex-direction: column;
  margin-right: 550px;
}
.features-h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

.features-p {
  margin-bottom: 40px;
}

ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* padding-left: 75px; */
  list-style: none;
}

li {
  display: flex;
  gap: 30px;
}
.icons {
  /* width: 50px; */
  font-size: 30px;
  color: #e67e22;
}

.back-1 {
  width: 700px;
  position: absolute;
  z-index: 10;
  top: -130px;
  right: -550px;
}

.space {
  height: 100vh;
}

.abs {
  position: relative;
}
