@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Raleway+Dots&family=Rubik:wght@400;500;600;700;800&display=swap");

* {
  font-family: rubik;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

body {
  background-color: #fbceb1;
  display: flex;
  /* flex-direction: column; */
}

.navbar {
  height: 100vh;
  /* margin: 0 1.5%; */
  /* margin-top: 4%; */
  /* margin-top: 1.2%; */
  margin-bottom: auto;
  width: 5%;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #e67e22;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* align-items: center; */
  justify-content: space-evenly;
  padding: 2px;
}

.asideHead {
  font-family: "Raleway Dots", cursive;
  color: #fff;
  font-size: 20px;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 100;
}

ion-icon {
  color: #fff;
  /* width: 100%; */
  font-size: 35px;
  cursor: pointer;
}

.icon2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
  gap: 12px;
}

.home {
  /* background-color: #fff;*/
  color: black;
  /* position: relative; */
}

/* .active {
  height: 40px;
  width: 15px;
  background-color: #fff;
  position: absolute;
  left: -20px;
} */

.active {
  height: 40px;
  width: 65px;
  left: -11.4px;
  /* background-color: #fbceb1; */
  background-color: rgb(255, 255, 255, 0.5);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;

  /* left: -20px; */
}

nav {
  position: fixed;
  top: 0;
  padding: 50px 100px;
  width: 100%;
  height: 5vh;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ion-icon {
  color: black;
  font-size: 40px;
}

.nav-h1 {
  font-weight: 200;
  font-size: 40px;
}

.container {
  align-self: flex-end;
  height: 90vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 35px;
  /* background-color: #fff; */
  z-index: 999;
}

.horizontal {
  display: flex;
  gap: 50px;
  /* background-color: #e67e22; */
}

.box {
  border-radius: 23px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 27vw;
  background-color: rgba(255, 255, 255, 0.3);
}

.box-1 {
  border-radius: 23px;
  padding: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  height: 50vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.box-3 {
  border-radius: 23px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.container2 {
  align-self: flex-end;
  justify-self: flex-end;
  /* background-color: #e67e22; */
  /* padding-top: 10vh; */
  padding: 35px 20px 35px 0;
  z-index: 9999999;
  width: 35%;
  height: 90vh;
}

.box1-h1 {
  position: sticky;
  text-align: center;
  font-family: ubuntu;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.content {
  padding-top: 10px;
  gap: 10px;
  display: grid;
  overflow: auto;
}
.content::-webkit-scrollbar {
  /* border-radius: 50%; */
  /* background: #fff; */
  width: 5px;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 80px;
  background: #f9b98f;
}
.cont {
  /* overflow: hidden; */
  width: 100%;
  height: 7vh;
  padding: 7px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
  /* justify-content: space-evenly; */
  justify-content: space-between;
}

.up {
  display: flex;
  justify-content: space-between;
}

.down {
  /* justify-self: flex-end; */
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-between;
}

.meet-head {
  color: #333;
  font-size: 18px;
  font-weight: 300;
}

.time {
  margin: 0;
  font-size: 12px;
  font-weight: 100;
  color: #666;
}

.persons {
  margin: 0;
  font-size: 12px;
  font-weight: 100;
  color: #555;
}

.btnjoin {
  padding: 3px 14px;
  text-decoration: none;
  background-color: #e67e22;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
}

.btnjoin:hover {
  background-color: #cf711f;
}

.name {
  font-weight: 500;
}

.dots {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dot {
  align-self: center;
  width: 5px;
  height: 5px;
  background-color: #222;
  /* background-color: #e67e22; */
  border-radius: 50%;
}

.right {
  align-items: center;
  display: flex;
  gap: 20px;
}
