@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Raleway+Dots&family=Rubik:wght@400;500;600;700;800&family=Zen+Dots&display=swap");
.logo {
  /* width: 130px; */
  color: #474747;
  font-family: "Zen Dots";
  font-size: 30px;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu;
  transition: 1s smooth ease-in-out;
  /* overflow-y: hidden; */
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
p {
  color: #6b7d7d;
  line-height: 1.7;
}
body {
}
a {
  text-decoration: none;
  color: #767676;
}
nav {
  /* backdrop-filter: blur(5px); */
  position: fixed;
  background-color: rgb(255, 255, 255, 0.4);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  z-index: 9999999999999999999999;
  /* color: transparent;
  background-color: 0 0 5px rgba(0, 0, 0, 0.5); */

  /* background-color: #000; */
  /* opacity: 0.1; */
  /* background-image: blur(5px); */
  /* filter: blur(1px); */
  /* -webkit-filter: blur(5px); */
  /* filter: blur(5px); */
}

.nav-btn {
  font-size: 20px;
  display: flex;
  gap: 35px;
}

.login {
  color: #111;
  font-size: 20px;
  /* font-weight: 500; */
  text-decoration: none;
  padding: 12px 0;
}

.nav-el {
  color: #111;
  font-size: 18px;
  /* font-weight: 500; */
  text-decoration: none;
  padding: 12px 0;
}
.nav-el:hover {
  color: #e67e22;
}

.signUp {
  font-size: 18px;
  background-color: #fff;
  /* box-sizing: inline; */
  color: #e67e22;
  /* font-weight: 500; */
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 6px 16px;
  /* background-color: #ed6a5e; */
  /* background-color: #e67e22; */
  border: 1px solid #ed6a5e;
  cursor: pointer;
  border-radius: 8px;
}
.login:hover {
  color: #e67e22;
}

.signUp:hover {
  transition: all 0.4s;
  background-color: #e67e22;

  color: #fff;
}

.hero {
  /* background-color: #fdf2e9; */
  height: 60vh;
  display: flex;
  gap: 100px;
  /* align-items: center; */
  padding-left: 100px;
}
.hero-content {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}
.hero-h1 {
  font-size: 64px;
}

.hero-img {
  /* margin-left: 100px; */
  margin-right: 50px;
  margin-top: 10vh;
  /* width: 458.13px; */
  height: 568.8px;
}

.hero-p {
  color: #6b7d7d;
}

.btn {
  padding: 12px 24px;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  background-color: #e67e22;
  color: #fff;
  border-radius: 8px;
  border: none;
  text-decoration: none;
}

.btn:hover {
  background-color: #cf711f;
}

svg {
  position: absolute;
  z-index: -1;
}

.blob {
  position: absolute;
  right: 50px;
  width: 700px;
}

.features {
  margin-top: 300px;
  height: 70vh;
  background-color: #fdf2e9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 100px;
  /* justify-content: space-between; */

  /* background-color: antiquewhite; */
}

.back {
  position: relative;
  margin-top: -100px;
  margin-left: -200px;
  z-index: 1;
}

.svg-back {
  display: flex;
  position: absolute;
  /* margin-left: -50px; */
  /* background-color: #111; */
  /* justify-self: left; */
  width: 60vw;
  height: 40vh;
}

.temp {
  /* background-color: #cf711f; */
  width: 50vw;
  height: 50vh;
  z-index: 100;
}
.temp-1 {
  /* background-color: #cf711f; */
  width: 60vw;
  position: relative;
  height: 50vh;
  z-index: 100;
}

.back {
  width: 140vw;
  height: 85vh;
}
.back-1 {
  width: 50vw;
  position: absolute;
  top: -550px;
  left: -90px;
  /* height: 85vh; */
}

.img-1 {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 500px;
  z-index: 100;
}

.features-content {
  display: flex;
  padding-left: 100px;
  align-items: center;
  /* gap: 10px; */
  flex-direction: column;
}
.features-content-1 {
  max-width: 600px;
  display: flex;
  /* padding-left: 100px; */
  align-items: center;
  /* gap: 10px; */
  flex-direction: column;
  margin-right: 100px;
}

.features-h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

.features-p {
  margin-bottom: 40px;
}

ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* padding-left: 75px; */
  list-style: none;
}

li {
  display: flex;
  gap: 30px;
}
.icons {
  /* width: 50px; */
  font-size: 30px;
  color: #e67e22;
}

.space {
  background-color: #f6f9fc;
  /* background-color: #cf711f; */
  margin-top: 330px;
  padding-bottom: 100px;
  height: 120vh;
}

.abs {
  position: relative;
}

.features-1 {
  margin-top: 300px;
  display: flex;
  gap: 100px;
  padding-left: 100px;
}

.img-2 {
  max-width: 500px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  /* margin-right: 100px; */
}

.grey {
  margin-top: 100px;
}
.pricing {
  display: flex;
  flex-direction: column;
  z-index: 100;
  justify-content: center;
  padding-bottom: 100px;
}

.heading {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-h1 {
  color: #444;
  font-size: 50px;
}

.orange {
  color: #e67e22;
}

.individual {
  padding: 20px;
  height: 600px;
  width: 350px;
  /* background-color: #fff; */
  /* background-color: antiquewhite; */
  border: 3px solid #fbceb1;
  border-radius: 12px;
}
.teams {
  padding: 20px;
  height: 600px;
  width: 350px;
  background-color: #fbceb1;
  border-radius: 12px;
}

.price {
  margin-top: 50px;
  width: 100%;
  /* background-color: #6b7d7d; */
  display: flex;
  justify-content: center;
  gap: 100px;
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 25px; */
  /* justify-content: center; */
}
.plan-h2 {
  margin-bottom: 25px;
  /* color: #cf711f; */
  color: #cc5500;
}
.price-h {
  font-family: rubik;
  color: #444;
  font-size: 64px;
}
.price ul li p {
  color: #666;
}

.price ul {
  padding-left: 20px;
  margin-bottom: 30px;
  align-self: flex-start;
}

.price-icon {
  font-size: 30px;
  color: #e67e22;
}

.btn:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.integerations {
  height: 80vh;
  background-color: #fbceb1;
  display: flex;
  margin-bottom: 100px;
  /* position: relative; */
  /* z-index: -1; */
}

.integration-content {
  width: 55vw;
  height: 100%;
  background-color: #fdf2e9;
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* justify-content: flex-end; */
  /* align-items: center; */
  padding: 100px;
  position: relative;
}

.integration-content h1 {
  margin-top: 80px;
  font-family: Rubik;
  font-size: 64px;
}

.integration-content .btn {
  align-self: flex-start;
}

.intsvg {
  position: absolute;
  /* z-index: 1000000; */
  /* z-index: -1; */
  width: 50vw;
  height: 90.5vh;
  /* bottom: 30px; */
  right: -5px;
  transform: rotate(90deg);
}
.contact {
  height: 100vh;
  width: 100vw;
  z-index: 100000;
  background-color: white;
}
.size {
  /* width: 200px; */
  height: 141.5px;
}
.svg-png {
  position: relative;
  height: 80vh;
}

.integer {
  margin-top: 50px;
  z-index: 10000000;
  /* top: 100px; */
  left: 850px;
  position: absolute;
  width: 600px;
}

.container {
  width: 100%;
  padding: 0 150px;
  display: flex;
  gap: 30px;
}
.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feature-title {
  font-size: 30px;
  color: #444;
  font-weight: 600;
}
.feature-icon {
  color: #e67e22;
  border-radius: 50%;
  background-color: #fdf2e9;
  padding: 10px;
  /* align-self: center; */
  font-size: 30px;
  /* text-align: center; */
}

.contact {
  display: flex;
  align-items: center;
  justify-items: center;
}

.section-cta {
  margin-top: 80px;
  padding: 48px 0 128px 0;
  margin-bottom: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  /* height: 50rem; */
  overflow: hidden;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 70, 0.34),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  color: #2e1907;
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
  padding: 48px 64px 64px 64px;
}

.cta-text {
  color: #444;
  font-size: 18px;
  line-height: 1.8;
  margin: 48px 0;
}
.cta .heading-secondary {
  color: #2e1907;
  margin-bottom: 32px;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 23px;
}

.cta-form label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.container-1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.cont {
  font-size: 44px;
}
.btn-form {
  background-color: #45260a;
  color: #fdf2e9;
  padding: 1.2rem;
  align-self: end;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
}

textarea {
  padding: 12px;
  font-size: 18px;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
}

.footer {
  display: flex;
  height: 43vh;
  margin-top: 75px;
  padding-bottom: 100px;
  padding: 0 150px;
  justify-content: space-between;
  gap: 30px;
}

.logo-col,
.address-col {
  width: 250px;
}

.social-icon {
  font-size: 25px;
}

.footer-logo {
  color: #444;
}

.footer-heading {
  color: #444;
}

.address-col {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.address {
  margin-bottom: 50px;
}

input,
textarea {
  outline: none;
  outline: 2px solid #e67e22;
}

input:focus,
textarea:focus {
  outline: none;
  outline: 2px solid rgb(231, 126, 35, 0.5);
  /* background-color: #e67e22; */
  /* transition: 0.6s ease-in-out; */
  outline-offset: 8px;
  box-shadow: 0 0 0 8px rgba(230, 125, 34, 0.5);
}
